In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
TotalSchools = len(school_data_complete["School ID"].unique())
TotalSchools

15

In [6]:
TotalStudents = len(school_data_complete["Student ID"])
TotalStudents

39170

In [7]:
TotalBudget = sum(school_data["budget"])
TotalBudget

24649428

In [8]:
AverageMath = school_data_complete["math_score"].mean()
AverageMath

78.98537145774827

In [9]:
AverageReading = school_data_complete["reading_score"].mean()
AverageReading

81.87784018381414

In [10]:
#percentage of math scores that passed
passingmath = school_data_complete.loc[school_data_complete["math_score"] >=70]["math_score"].count()/TotalStudents
passingmath = passingmath * 100

In [11]:
#percentage of reading scores that passed
passingreading = school_data_complete.loc[school_data_complete["reading_score"] >=70]["reading_score"].count()/TotalStudents
passingreading = passingreading * 100

In [12]:
St_passing = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)]['student_name'].count()/TotalStudents
St_passing = St_passing * 100

In [13]:
districtsummary_table = pd.DataFrame({"Total Schools": [TotalSchools], "Total Students": [TotalStudents], "Total Budget": [TotalBudget], "Average Math Score": [AverageMath], "Average Reading Score": [AverageReading], "% Passing Math": [passingmath], "% Passing Reading": [passingreading], "% Overall Passing": [St_passing]})
districtsummary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [14]:
districtsummary_table ['Total Budget'] = districtsummary_table ['Total Budget'].map("${:}".format)
districtsummary_table ['Average Math Score'] = districtsummary_table ['Average Math Score'].map("{:.2f}%".format)
districtsummary_table ['Average Reading Score'] = districtsummary_table ['Average Reading Score'].map("{:.2f}%".format)
districtsummary_table ['% Passing Math'] = districtsummary_table ['% Passing Math'].map("{:.2f}%".format)
districtsummary_table ['% Passing Reading'] = districtsummary_table ['% Passing Reading'].map("{:.2f}%".format)
districtsummary_table ['% Overall Passing'] = districtsummary_table ['% Overall Passing'].map("{:.2f}%".format)
districtsummary_table
#end of District Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,$24649428,78.99%,81.88%,74.98%,85.81%,65.17%

In [15]:
#Start of School Summary
School_Cat = school_data_complete.set_index('school_name')
School_Cat = School_Cat.groupby(['school_name'])
School_Cat.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [16]:
School_Types = school_data.set_index('school_name')['type']
School_Types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
T_Students = School_Cat["Student ID"].count()
T_Students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [18]:
School_Budget = school_data.set_index('school_name')['budget']
School_Budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [19]:
School_Budget_St = School_Budget / T_Students
School_Budget_St

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
AvgReading = School_Cat ['reading_score'].mean()
AvgReading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
AvgMath = School_Cat ['math_score'].mean()
AvgMath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [31]:
PassedReading = school_data_complete.loc[school_data_complete["reading_score"] >=70].groupby("school_name")["student_name"].count()/T_Students
PassedReading = PassedReading *100
PassedReading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [23]:
PassedMath = school_data_complete.loc[school_data_complete["math_score"] >=70].groupby("school_name")["student_name"].count()/T_Students
PassedMath = PassedMath*100
PassedMath

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [29]:
PassedBoth = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)].groupby("school_name")["student_name"].count()/T_Students
PassedBoth = PassedBoth *100
PassedBoth

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [25]:
#Putting a Dataframe together....no []
schoolsummary_table = pd.DataFrame({"School Type": School_Types,"Total Students": T_Students, "Total School Budget": School_Budget, "Per Student Budget": School_Budget_St, "Average Math Score": AvgMath, "Average Reading Score": AvgReading, "% Passing Math": PassedMath, "% Passing Reading": PassedReading, "% Overall Passing": PassedBoth})
schoolsummary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [26]:
#Giving int() symbols for readability
schoolsummary_table ['Total School Budget'] = schoolsummary_table ['Total School Budget'].map("${:}".format)
schoolsummary_table ['Per Student Budget'] = schoolsummary_table ['Per Student Budget'].map("${:}".format)
schoolsummary_table ['Average Math Score'] = schoolsummary_table ['Average Math Score'].map("{:.2f}%".format)
schoolsummary_table ['Average Reading Score'] = schoolsummary_table ['Average Reading Score'].map("{:.2f}%".format)
schoolsummary_table ['% Passing Math'] = schoolsummary_table ['% Passing Math'].map("{:.2f}%".format)
schoolsummary_table ['% Passing Reading'] = schoolsummary_table ['% Passing Reading'].map("{:.2f}%".format)
schoolsummary_table ['% Overall Passing'] = schoolsummary_table ['% Overall Passing'].map("{:.2f}%".format)
schoolsummary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$3124928,$628.0,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$1081356,$582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$1884411,$639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,$1763916,$644.0,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,$917500,$625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,$3022020,$652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,$248087,$581.0,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,$1910635,$655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,$3094650,$650.0,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,$585858,$609.0,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$2547363,$637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$1056600,$600.0,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$1043130,$638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$1319574,$578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$1049400,$583.0,83.68%,83.95%,93.33%,96.61%,90.33%

In [34]:
#Bottom 5 Schools Based on % Overall Passing    #.sort_values
Bottom5 = schoolsummary_table.sort_values("% Overall Passing",ascending =True)
Bottom5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,$2547363,$637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,2949,$1884411,$639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,2917,$1910635,$655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,4635,$3022020,$652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,4761,$3094650,$650.0,77.07%,80.97%,66.06%,81.22%,53.54%
Ford High School,District,2739,$1763916,$644.0,77.10%,80.75%,68.31%,79.30%,54.29%
Bailey High School,District,4976,$3124928,$628.0,77.05%,81.03%,66.68%,81.93%,54.64%
Holden High School,Charter,427,$248087,$581.0,83.80%,83.81%,92.51%,96.25%,89.23%
Shelton High School,Charter,1761,$1056600,$600.0,83.36%,83.73%,93.87%,95.85%,89.89%
Wright High School,Charter,1800,$1049400,$583.0,83.68%,83.95%,93.33%,96.61%,90.33%
Pena High School,Charter,962,$585858,$609.0,83.84%,84.04%,94.59%,95.95%,90.54%
Wilson High School,Charter,2283,$1319574,$578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Griffin High School,Charter,1468,$917500,$625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Thomas High School,Charter,1635,$1043130,$638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Cabrera High School,Charter,1858,$1081356,$582.0,83.06%,83.98%,94.13%,97.04%,91.33%

In [49]:
#Sort average math score by grade
AvgMath9 = school_data_complete.loc[school_data_complete['grade'] =='9th'].groupby('school_name')['math_score'].mean()
AvgMath10 = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby('school_name')['math_score'].mean()
AvgMath11 = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby('school_name')['math_score'].mean()
AvgMath12 = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby('school_name')['math_score'].mean()
AvgMath9 = AvgMath9.map("{:.2f}%".format)
AvgMath10 = AvgMath10.map("{:.2f}%".format)
AvgMath11 = AvgMath11.map("{:.2f}%".format)
AvgMath12 = AvgMath12.map("{:.2f}%".format)

In [52]:
Mathbygrade = pd.DataFrame({"9th Grade": AvgMath9,"10th Grade": AvgMath10,"11th Grade": AvgMath11,"12th Grade": AvgMath12})
Mathbygrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [53]:
AvgReading9 = school_data_complete.loc[school_data_complete['grade'] =='9th'].groupby('school_name')['reading_score'].mean()
AvgReading10 = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby('school_name')['reading_score'].mean()
AvgReading11 = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby('school_name')['reading_score'].mean()
AvgReading12 = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby('school_name')['reading_score'].mean()
AvgReading9 = AvgReading9.map("{:.2f}%".format)
AvgReading10 = AvgReading10.map("{:.2f}%".format)
AvgReading11 = AvgReading11.map("{:.2f}%".format)
AvgReading12 = AvgReading12.map("{:.2f}%".format)

In [54]:
Readingbygrade = pd.DataFrame({"9th Grade": AvgReading9,"10th Grade": AvgReading10,"11th Grade": AvgReading11,"12th Grade": AvgReading12})
Readingbygrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [55]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635