In [211]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [212]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [213]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [214]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete

In [215]:
TotalSchools = len(school_data_complete["School ID"].unique())
#TotalSchools

In [216]:
TotalStudents = len(school_data_complete["Student ID"])
#TotalStudents

In [217]:
TotalBudget = sum(school_data["budget"])
#TotalBudget

In [218]:
AverageMath = school_data_complete["math_score"].mean()
#AverageMath

In [219]:
AverageReading = school_data_complete["reading_score"].mean()
#AverageReading

In [220]:
#percentage of math scores that passed
passingmath = school_data_complete.loc[school_data_complete["math_score"] >=70]["math_score"].count()/TotalStudents
passingmath = passingmath * 100

In [221]:
#percentage of reading scores that passed
passingreading = school_data_complete.loc[school_data_complete["reading_score"] >=70]["reading_score"].count()/TotalStudents
passingreading = passingreading * 100

In [222]:
St_passing = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)]['student_name'].count()/TotalStudents
St_passing = St_passing * 100

In [223]:
districtsummary_table = pd.DataFrame({"Total Schools": [TotalSchools], "Total Students": [TotalStudents], "Total Budget": [TotalBudget], "Average Math Score": [AverageMath], "Average Reading Score": [AverageReading], "% Passing Math": [passingmath], "% Passing Reading": [passingreading], "% Overall Passing": [St_passing]})
#districtsummary_table

In [224]:
districtsummary_table ['Total Budget'] = districtsummary_table ['Total Budget'].map("${:}".format)
districtsummary_table ['Average Math Score'] = districtsummary_table ['Average Math Score'].map("{:.2f}%".format)
districtsummary_table ['Average Reading Score'] = districtsummary_table ['Average Reading Score'].map("{:.2f}%".format)
districtsummary_table ['% Passing Math'] = districtsummary_table ['% Passing Math'].map("{:.2f}%".format)
districtsummary_table ['% Passing Reading'] = districtsummary_table ['% Passing Reading'].map("{:.2f}%".format)
districtsummary_table ['% Overall Passing'] = districtsummary_table ['% Overall Passing'].map("{:.2f}%".format)
districtsummary_table
#end of District Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,$24649428,78.99%,81.88%,74.98%,85.81%,65.17%

In [225]:
#Start of School Summary
School_Cat = school_data_complete.set_index('school_name')
School_Cat = School_Cat.groupby(['school_name'])
#School_Cat.head()

In [226]:
School_Types = school_data.set_index('school_name')['type']
#School_Types

In [227]:
T_Students = School_Cat["Student ID"].count()
#T_Students

In [228]:
School_Budget = school_data.set_index('school_name')['budget']
#School_Budget

In [229]:
School_Budget_St = School_Budget / T_Students
#School_Budget_St

In [230]:
AvgReading = School_Cat ['reading_score'].mean()
#AvgReading

In [231]:
AvgMath = School_Cat ['math_score'].mean()
#AvgMath

In [232]:
PassedReading = school_data_complete.loc[school_data_complete["reading_score"] >=70].groupby("school_name")["student_name"].count()/T_Students
PassedReading = PassedReading *100
#PassedReading

In [233]:
PassedMath = school_data_complete.loc[school_data_complete["math_score"] >=70].groupby("school_name")["student_name"].count()/T_Students
PassedMath = PassedMath*100
#PassedMath

In [234]:
PassedBoth = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)].groupby("school_name")["student_name"].count()/T_Students
PassedBoth = PassedBoth *100
#PassedBoth

In [235]:
#Putting a Dataframe together....no []
schoolsummary_table = pd.DataFrame({"School Type": School_Types,"Total Students": T_Students, "Total School Budget": School_Budget, "Per Student Budget": School_Budget_St, "Average Math Score": AvgMath, "Average Reading Score": AvgReading, "% Passing Math": PassedMath, "% Passing Reading": PassedReading, "% Overall Passing": PassedBoth})
#schoolsummary_table

In [236]:
#Giving int() symbols for readability
schoolsummary_table ['Total School Budget'] = schoolsummary_table ['Total School Budget'].map("${:}".format)
schoolsummary_table ['Per Student Budget'] = schoolsummary_table ['Per Student Budget'].map("${:}".format)
schoolsummary_table ['Average Math Score'] = schoolsummary_table ['Average Math Score'].map("{:.2f}%".format)
schoolsummary_table ['Average Reading Score'] = schoolsummary_table ['Average Reading Score'].map("{:.2f}%".format)
schoolsummary_table ['% Passing Math'] = schoolsummary_table ['% Passing Math'].map("{:.2f}%".format)
schoolsummary_table ['% Passing Reading'] = schoolsummary_table ['% Passing Reading'].map("{:.2f}%".format)
schoolsummary_table ['% Overall Passing'] = schoolsummary_table ['% Overall Passing'].map("{:.2f}%".format)
schoolsummary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$3124928,$628.0,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$1081356,$582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$1884411,$639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,$1763916,$644.0,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,$917500,$625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,$3022020,$652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,$248087,$581.0,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,$1910635,$655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,$3094650,$650.0,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,$585858,$609.0,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$2547363,$637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$1056600,$600.0,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$1043130,$638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$1319574,$578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$1049400,$583.0,83.68%,83.95%,93.33%,96.61%,90.33%

In [237]:
#Top 5 Schools Based on % Overall Passing    #.sort_values
top5 = schoolsummary_table.sort_values("% Overall Passing",ascending =False).head()
top5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,$1081356,$582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,$1043130,$638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,$917500,$625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,$1319574,$578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,$585858,$609.0,83.84%,84.04%,94.59%,95.95%,90.54%

In [238]:
#Bottom 5 Schools Based on % Overall Passing    #.sort_values
Bottom5 = schoolsummary_table.sort_values("% Overall Passing",ascending =True).head()
Bottom5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,$2547363,$637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,2949,$1884411,$639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,2917,$1910635,$655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,4635,$3022020,$652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,4761,$3094650,$650.0,77.07%,80.97%,66.06%,81.22%,53.54%

In [239]:
#Sort average math score by grade
AvgMath9 = school_data_complete.loc[school_data_complete['grade'] =='9th'].groupby('school_name')['math_score'].mean()
AvgMath10 = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby('school_name')['math_score'].mean()
AvgMath11 = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby('school_name')['math_score'].mean()
AvgMath12 = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby('school_name')['math_score'].mean()
AvgMath9 = AvgMath9.map("{:.2f}%".format)
AvgMath10 = AvgMath10.map("{:.2f}%".format)
AvgMath11 = AvgMath11.map("{:.2f}%".format)
AvgMath12 = AvgMath12.map("{:.2f}%".format)

In [240]:
#Math Scores by Grade Table
Mathbygrade = pd.DataFrame({"9th Grade": AvgMath9,"10th Grade": AvgMath10,"11th Grade": AvgMath11,"12th Grade": AvgMath12})
Mathbygrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [241]:
AvgReading9 = school_data_complete.loc[school_data_complete['grade'] =='9th'].groupby('school_name')['reading_score'].mean()
AvgReading10 = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby('school_name')['reading_score'].mean()
AvgReading11 = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby('school_name')['reading_score'].mean()
AvgReading12 = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby('school_name')['reading_score'].mean()
AvgReading9 = AvgReading9.map("{:.2f}%".format)
AvgReading10 = AvgReading10.map("{:.2f}%".format)
AvgReading11 = AvgReading11.map("{:.2f}%".format)
AvgReading12 = AvgReading12.map("{:.2f}%".format)

In [242]:
#Reading Scores by Grade Table
Readingbygrade = pd.DataFrame({"9th Grade": AvgReading9,"10th Grade": AvgReading10,"11th Grade": AvgReading11,"12th Grade": AvgReading12})
Readingbygrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [243]:
#schoolsummary_table

In [244]:
#school_data_complete.head()

In [245]:
bins = [0, 580, 615, 650, 999]
groups = ["< $580", "$580 - $615", " $615 - $650", "> $650"]

In [246]:
#add column called Spengding per Student by .cut() 
school_data_complete['Spending Per Student'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = groups)

#school_data_complete.head()

In [247]:
school_spending = school_data_complete.groupby('Spending Per Student')

In [248]:
mathaverage = school_spending['math_score'].mean()
mathaverage = mathaverage.map('{:.2f}%'.format)

In [249]:
readingaverage = school_spending['reading_score'].mean()
readingaverage = readingaverage.map('{:.2f}%'.format)

In [250]:
#two school_data_complete for a list of lists [[]] DATAFRAME
MathPassing = (school_data_complete[school_data_complete["math_score"] >70].groupby('Spending Per Student')['student_name'].count()/school_spending['student_name'].count())*100
MathPassing = MathPassing.map('{:.2f}%'.format)
#MathPassing

In [251]:
ReadingPassing = (school_data_complete[school_data_complete["reading_score"] >70].groupby('Spending Per Student')['student_name'].count()/school_spending['student_name'].count())*100
ReadingPassing = ReadingPassing.map('{:.2f}%'.format)
#ReadingPassing

In [252]:
BothPassing = (school_data_complete[(school_data_complete["reading_score"] >70) & (school_data_complete["math_score"] >70)].groupby('Spending Per Student')['student_name'].count()/school_spending['student_name'].count())*100
BothPassing = BothPassing.map('{:.2f}%'.format)
#BothPassing

In [253]:
#Scores by School Spending
ScoreSchSpending = pd.DataFrame({"Average Math Score": mathaverage, "Average Reading Score": readingaverage, "% Passing Math": MathPassing, "% Passing Reading": ReadingPassing, "% Overall Passing": BothPassing})
ScoreSchSpending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Per Student,,,,,
< $580,83.27%,83.99%,90.93%,93.25%,84.89%
$580 - $615,83.46%,83.91%,90.20%,93.13%,84.03%
$615 - $650,77.85%,81.34%,67.88%,80.38%,54.94%
> $650,77.03%,81.03%,64.19%,78.43%,50.07%

In [254]:
#school_data_complete.head()

In [255]:
bins = [0, 2000, 3000, 9999]
groups = ["Small School <2000", "Medium School 2000-3000", "Large School >3000"]
school_data_complete['School Size'] = pd.cut(school_data_complete['size'], bins, labels = groups)
#school_data_complete

In [256]:
#Groupby Size
SchoolSize = school_data_complete.groupby('School Size')

In [257]:
MthAvg = SchoolSize['math_score'].mean()
MthAvg = MthAvg.map('{:.2f}%'.format)
#MthAvg

In [258]:
RdingAvg = SchoolSize['reading_score'].mean()
RdingAvg = RdingAvg.map('{:.2f}%'.format)
#RdingAvg

In [259]:
PassMth = (school_data_complete[school_data_complete['math_score']>=70].groupby('School Size')['student_name'].count()/SchoolSize['student_name'].count())*100
PassMth = PassMth.map('{:.2f}%'.format)
#PassMth

In [260]:
PassRding = (school_data_complete[school_data_complete['reading_score']>=70].groupby('School Size')['student_name'].count()/SchoolSize['student_name'].count())*100
PassRding = PassRding.map('{:.2f}%'.format)
#PassRding

In [261]:
PassBth = (school_data_complete[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>=70)].groupby('School Size')['student_name'].count()/SchoolSize['student_name'].count())*100
PassBth = PassBth.map('{:.2f}%'.format)
#PassBth

In [262]:
#DataFrame Scores By School Size
SizeScores = pd.DataFrame({"Average Math Score": MthAvg, "Average Reading Score": RdingAvg, "% Passing Math": PassMth, "% Passing Reading": PassRding, "% Overall Passing": PassBth})
SizeScores

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small School <2000,83.44%,83.88%,93.66%,96.67%,90.56%
Medium School 2000-3000,78.16%,81.65%,72.34%,83.84%,61.40%
Large School >3000,77.07%,80.93%,66.47%,81.11%,53.72%

In [263]:
schooltype = school_data_complete.groupby('type')

In [264]:
MthAvg = schooltype['math_score'].mean()
MthAvg = MthAvg.map('{:.2f}%'.format)
#MthAvg

In [265]:
RdingAvg = schooltype['reading_score'].mean()
RdingAvg = RdingAvg.map('{:.2f}%'.format)
#RdingAvg

In [266]:
PassMth = (school_data_complete[school_data_complete['math_score']>=70].groupby('type')['student_name'].count()/schooltype['student_name'].count())*100
PassMth = PassMth.map('{:.2f}%'.format)
#PassMth

In [267]:
PassRding = (school_data_complete[school_data_complete['reading_score']>=70].groupby('type')['student_name'].count()/schooltype['student_name'].count())*100
PassRding = PassRding.map('{:.2f}%'.format)
#PassRding

In [268]:
PassBth = (school_data_complete[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>=70)].groupby('type')['student_name'].count()/schooltype['student_name'].count())*100
PassBth = PassBth.map('{:.2f}%'.format)
#PassBth

In [269]:
schooltypescores = pd.DataFrame({"Average Math Score": MthAvg, "Average Reading Score": RdingAvg, "% Passing Math": PassMth, "% Passing Reading": PassRding, "% Overall Passing": PassBth})
schooltypescores

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.41%,83.90%,93.70%,96.65%,90.56%
District,76.99%,80.96%,66.52%,80.91%,53.70%